<!-- <div class="cart">
	<span class="cart__quantity" data-fls-addtocart>0</span>
</div> -->

<div data-fls-addtocart-product class="product">
	<img src="@img/favicon.ico" data-fls-addtocart-image alt="Image">
	<div data-fls-quantity class="quantity">
		<button data-fls-quantity-minus type="button" class="quantity__button quantity__button--minus"></button>
		<div class="quantity__input">
			<input data-fls-addtocart-quantity data-fls-quantity-value autocomplete="off" type="text" name="form[]"
				value="1">
		</div>
		<button data-fls-quantity-plus type="button" class="quantity__button quantity__button--plus"></button>
	</div>
	<button data-fls-addtocart-button>Add</button>
</div>

<!-- <div data-fls-addtocart-product class="heets__card swiper-slide">
	<div class="heets__card-image">
		<div class="heets__card-label heets__card-label--yellow">хіт</div>
		<div class="heets__card-img __img"><img data-fls-addtocart-image src="@img/card1.webp" alt="Image"></div>
	</div>
	<div class="heets__card-title">Котушка Shimano</div>
	<div class="heets__card-caption">Nexave 2500</div>
	<div class="heets__card-raiting">
		<div class="heets__card-stars">
			<span class="--icon-star"></span>
			<span class="--icon-star"></span>
			<span class="--icon-star"></span>
			<span class="--icon-star"></span>
			<span class="--icon-star"></span>
		</div>
		<div class="heets__card-stars-value"><span>4.8</span><span>(126)</span></div>
	</div>
	<div class="heets__card-price">
		<div class="heets__card-price-title"><span data-fls-digcounter="">2450</span><span>грн.</span></div>
		<div class="heets__card-price-button">
			<button data-fls-addtocart-button data-id="1" data-title="Котушка Shimano" data-price="2450"
				data-image="@img/card1.webp" class="heets__card-btn btn--green">
				<span class="--icon-cart"></span>
			</button>
		</div>
	</div>
</div>

<button class="header__button cart-action --icon-cart"><span data-fls-addtocart class="cart-counter"></span></button> -->