# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Вихідна збірка
#dist/

# Вихідна збірка шаблонів (якщо не треба пушити)
template_modules/

# Лог файли
*.log

# Системні файли
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Docker
*.env
.env.*
docker-compose.override.yml
