// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Налаштування стилів за замовченням
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

$fontFamily:'Manrope', sans-serif; // Шрифт за замовчуванням
$fontTitle:'Oswald', sans-serif; // Шрифт заголовка
$fontSize: 16; // Розмір шрифту за замовченням (де 16 - розмір шрифту за замовчуванням з макету)

// Основні кольори
$mainColor: #222222; // Колір шрифту за замовчуванням

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Налаштування адаптивної сітки
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1440;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer:1280;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: $containerWidth; // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: 991.98; // Планшети, деякі телефони в горизонтальному положенні
$mobile: 767.98; // Телефони L
$mobileSmall: 479.98; // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Змінні
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
$colorWhite: #fff;
$colorGray: #808080;
$colorLightGray: #f7f5f2;
$colorBlue: #004fbe;
$colorRed:#ff3d1f;
$colorCofee: #170f01f0;
$colorTitle: #0a002c;
$colorGreen: #097801c3;
$colorYellow: #fce300;
$colorOrange: #c29200;


$mobileMediumWidth: 376px;
$mobileClassicWidth: 426px;
$tabletWidth: 768px;
$desctopSmallWidth: 1024px;
$desctopLargeWidth: 1440px;

//міксин задає колір та блюр
@mixin blur($color){
   background: $colorBlur;
   backdrop-filter: blur(20px);
   -webkit-backdrop-filter: blur(10px);
}