<header data-fls-header-scroll data-fls-header-scroll-show class="header">
    <div class="header__top">
        <div data-fls-dynamic=".menu,870,last" class="header__top-container">
            <div class="header__top-items">
                <div class="header__top-item"><span class="--icon-delivery"></span><span>Безкоштовна доставка</span>
                </div>
                <div class="header__top-item"><span class="--icon-shield"></span><span>Гарантія якості</span></div>
                <div class="header__top-item"><span class="--icon-change"></span><span>Повернення 14 днів</span></div>
            </div>
            <div class="header__top-links">
                <button class="header__top-btn"><span class="--icon-user"></span><span>Увійти</span></button>
                <a href="tel:+380938765432" class="header__top-link">
                    <div class="header__top-link-icon -icon--icon-phone"></div>
                    <div class="header__top-link-text">
                        <span>(093) 876 54 32</span>
                        <span>Замовити дзвінок</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="header__container">
        <a href="#" class="header__logo">
            <div class="header__logo-img __img"><img src="@img/fish.png" alt="Image"></div>
            <div class="header__logo-text">
                <div class="header__logo-title"><span>Fish</span><span>&</span><span>Trip</span></div>
                <div class="header__logo-subtitle">
                    <span>Рибальство</span><span>та</span><span>туризм</span>
                </div>
            </div>
        </a>
        <nav class="header__menu menu">
            <ul class="header__list menu__list">
                <li><a class="menu__link" href="#">Каталог</a></li>
                <li><a class="menu__link" href="#">Риболовля</a></li>
                <li><a class="menu__link" href="#">Туризм</a></li>
                <li><a class="menu__link" href="#">Одяг та взуття</a></li>
                <li><a class="menu__link" href="#">Аксесуари</a></li>
                <li><a class="menu__link" href="#">Акції</a></li>
                <li><a class="menu__link" href="#">Блог</a></li>
                <li><a class="menu__link" href="#contacts">Контакти</a></li>
            </ul>
        </nav>
        <div class="header__buttons">
            <div class="header__btn btn--icon">
                <button data-fls-dynamic=".menu,460,first" class="header__button-search __img"><img
                        src="@img/search.png" alt="Image"></button>
            </div>
            <button class="header__button cart-action --icon-cart"><span data-fls-addtocart
                    class="cart-counter"></span></button>
        </div>
    </div>
    <div class="menu__icon"><span></span></div>
</header>