<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss">

<main class="page-home">
    <section class="hero">
        <div class="hero__bg __img"><img src="@img/hero-bg.jpeg" alt="Image"></div>
        <div class="hero__container">
            <div class="hero__text">
                <h1 class="hero__title">
                    <span>Відпочивай.</span>
                    <span>На природі.</span>
                    <span>Лови момент!</span>
                </h1>
                <div class="hero__subtitle">
                    Все для рибальства, туризму та активного відпочинку
                </div>
                <div class="hero__buttons">
                    <button class="hero__btn btn--yellow">перейти в каталог</button>
                    <button class="hero__btn">Дивитися акції</button>
                </div>
            </div>
            <div class="hero__image">
                <div class="hero__img"><img src="@img/fishman.jfif" alt="Image" loading="lazy"></div>
            </div>
        </div>
    </section>
    <div class="delivery">
        <div class="delivery__container">
            <div class="delivery__item">
                <div class="delivery__item-ico"><span class="--icon-truck"></span></div>
                <div class="delivery__item-text">
                    <div class="delivery__item-title">Швидка доставка</div>
                    <div class="delivery__item-subtitle">1-2 дні по Україні</div>
                </div>
            </div>
            <div class="delivery__item">
                <div class="delivery__item-ico"><span class="--icon-quality"></span></div>
                <div class="delivery__item-text">
                    <div class="delivery__item-title">Гарантія якості</div>
                    <div class="delivery__item-subtitle">Оригінальна продукція</div>
                </div>
            </div>
            <div class="delivery__item">
                <div class="delivery__item-ico"><span class="--icon-back"></span></div>
                <div class="delivery__item-text">
                    <div class="delivery__item-title">Легке повернення</div>
                    <div class="delivery__item-subtitle">14 днів на обмін</div>
                </div>
            </div>
            <div class="delivery__item">
                <div class="delivery__item-ico"><span class="--icon-consultation"></span></div>
                <div class="delivery__item-text">
                    <div class="delivery__item-title">Професійна консультація</div>
                    <div class="delivery__item-subtitle">Допоможемо з вибором</div>
                </div>
            </div>
        </div>
    </div>
    <section class="category">
        <div class="category__container">
            <div class="category__top">
                <h2 class="category__title">Категорії</h2>
                <a href="#" class="category__top-link">
                    <span>Дивитися всі категорії</span>
                    <span class="--icon-arrow"></span>
                </a>
            </div>
            <div data-fls-watcher class="category__cards">
                <a href="#" class="category__card">
                    <div class="category__card-img __img"><img src="@img/cat1.webp" alt="Image"></div>
                    <div data-fls-parallax-parent class="category__card-text">
                        <div data-fls-parallax class="category__card-title">Риболовля</div>
                        <div data-fls-parallax class="category__card-caption"><span
                                data-fls-digcounter>1250</span><span>товарів</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="category__card">
                    <div class="category__card-img __img"><img src="@img/cat2.webp" alt="Image"></div>
                    <div data-fls-parallax-parent class="category__card-text">
                        <div data-fls-parallax class="category__card-title">Туризм</div>
                        <div data-fls-parallax class="category__card-caption"><span
                                data-fls-digcounter>980</span><span>товарів</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="category__card">
                    <div class="category__card-img __img"><img src="@img/cat3.webp" alt="Image"></div>
                    <div data-fls-parallax-parent class="category__card-text">
                        <div data-fls-parallax class="category__card-title">Рюкзаки та сумки</div>
                        <div data-fls-parallax class="category__card-caption"><span
                                data-fls-digcounter>560</span><span>товарів</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="category__card">
                    <div class="category__card-img __img"><img src="@img/cat4.webp" alt="Image"></div>
                    <div data-fls-parallax-parent class="category__card-text">
                        <div data-fls-parallax class="category__card-title">Одяг та взуття</div>
                        <div data-fls-parallax class="category__card-caption"><span
                                data-fls-digcounter>780</span><span>товарів</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="category__card">
                    <div class="category__card-img __img"><img src="@img/cat5.webp" alt="Image"></div>
                    <div data-fls-parallax-parent class="category__card-text">
                        <div data-fls-parallax class="category__card-title">Аксусуари</div>
                        <div data-fls-parallax class="category__card-caption"><span
                                data-fls-digcounter>420</span><span>товарів</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="category__card">
                    <div class="category__card-img __img"><img src="@img/cat6.webp" alt="Image"></div>
                    <div data-fls-parallax-parent class="category__card-text">
                        <div data-fls-parallax class="category__card-title">Подарунки</div>
                        <div data-fls-parallax class="category__card-caption">сертифікати</div>
                    </div>
                </a>
            </div>
            <div class="category__items">
                <div class="category__item">
                    <div class="category__item-img-bg __img"><img src="@img/tourist3.webp" alt="Image"></div>
                    <div class="category__item-label">Знижки до</div>
                    <div class="category__item-price">-30%</div>
                    <div class="category__item-caption">На обрані товари</div>
                    <div class="category__item-button">
                        <button class="category__item-btn btn--yellow">До акції</button>
                    </div>
                </div>
                <div class="category__item">
                    <div class="category__item-img-bg __img"><img src="@img/tourist2.webp" alt="Image"></div>
                    <div class="category__item-title">Готовий до нових пригод?</div>
                    <div class="category__item-caption">Спорядження яке не підведе</div>
                    <div class="category__item-button">
                        <button class="category__item-btn btn--green">Підібрати спорядження</button>
                    </div>
                </div>
                <div class="category__item-cards">
                    <div class="category__item-card-top">
                        <div class="category__item-card-icon"><span class="--icon-delivery"></span></div>
                        <div class="category__item-card-text">
                            <div class="category__item-card-top-title">Безкоштовна доставка</div>
                            <div class="category__item-card-top-subtitle">при замовленні від 2000 грн.</div>
                        </div>
                    </div>
                    <div class="category__item-card">
                        <div class="category__item-img-bg __img"><img src="@img/tourist1.webp" alt="Image"></div>
                        <div class="category__item-card-title">Експерти на зв'язку</div>
                        <div class="category__item-caption">Отримайте консультацію та підбір спозядження</div>
                        <div class="category__item-button">
                            <button class="category__item-btn btn--green">Задати питання</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="heets">
        <div class="heets__container">
            <div class="category__top">
                <h2 class="category__title">Хіти продажів</h2>
                <a href="#" class="category__top-link">
                    <span>Всі товари</span>
                    <span class="--icon-arrow"></span>
                </a>
            </div>
            <div data-fls-slider class="heets__slider swiper">
                <div data-fls-watcher class="heets__cards swiper-wrapper">
                    <div data-fls-addtocart-product class="heets__card swiper-slide">
                        <div class="heets__card-image">
                            <div class="heets__card-label heets__card-label--yellow">хіт</div>
                            <div class="heets__card-img __img"><img data-cart-image src="@img/card1.webp" alt="Image">
                            </div>
                        </div>
                        <div class="heets__card-title">Котушка Shimano</div>
                        <div class="heets__card-caption">Nexave 2500</div>
                        <div class="heets__card-raiting">
                            <div class="heets__card-stars">
                                <span class="--icon-star"></span>
                                <span class="--icon-star"></span>
                                <span class="--icon-star"></span>
                                <span class="--icon-star"></span>
                                <span class="--icon-star"></span>
                            </div>
                            <div class="heets__card-stars-value"><span>4.8</span><span>(126)</span></div>
                        </div>
                        <div class="heets__card-price">
                            <div class="heets__card-price-title"><span
                                    data-fls-digcounter="">2450</span><span>грн.</span></div>
                            <div class="heets__card-price-button">
                                <button data-fls-addtocart-button data-id="1" data-title="Котушка Shimano"
                                    data-price="2450" data-image="@img/card1.webp" class="heets__card-btn btn--green">
                                    <span class="--icon-cart"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div data-fls-addtocart-product class="heets__card swiper-slide">
                        <div class="heets__card-image">
                            <div class="heets__card-label heets__card-label--green">новинка</div>
                            <div class="heets__card-img __img"><img data-cart-image src="@img/card2.webp" alt="Image">
                            </div>
                        </div>
                        <div class="heets__card-title">Удилище Favorite</div>
                        <div class="heets__card-caption">X1 2.7m 10-30g</div>
                        <div class="heets__card-raiting">
                            <div class="heets__card-stars">
                                <span class="--icon-star"></span>
                                <span class="--icon-star"></span>
                                <span class="--icon-star"></span>
                                <span class="--icon-star"></span>
                                <span class="--icon-star"></span>
                            </div>
                            <div class="heets__card-stars-value"><span>4.9</span><span>(64)</span></div>
                        </div>
                        <div class="heets__card-price">
                            <div class="heets__card-price-title"><span
                                    data-fls-digcounter="">1890</span><span>грн.</span></div>
                            <div class="heets__card-price-button">
                                <button data-fls-addtocart-button data-id="2" data-title="Удилище Favorite"
                                    data-price="1890" data-image="@img/card2.webp" class="heets__card-btn btn--green">
                                    <span class="--icon-cart"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div data-fls-addtocart-product class="heets__card swiper-slide">
                        <div class="heets__card-image">
                            <div class="heets__card-label heets__card-label--yellow">хіт</div>
                            <div class="heets__card-img __img"><img data-cart-image src="@img/card3.webp" alt="Image">
                            </div>
                        </div>
                        <div class="heets__card-title">Намет Tramp</div>
                        <div class="heets__card-caption">Lite Camp 2</div>
                        <div class="heets__card-raiting">
                            <div class="heets__card-stars">
                                <span class="--icon-star"></span>
                                <span class="--icon-star"></span>
                                <span class="--icon-star"></span>
                                <span class="--icon-star"></span>
                                <span class="--icon-star"></span>
                            </div>
                            <div class="heets__card-stars-value"><span>4.7</span><span>(58)</span></div>
                        </div>
                        <div class="heets__card-price">
                            <div class="heets__card-price-title"><span
                                    data-fls-digcounter="">3950</span><span>грн.</span></div>
                            <div class="heets__card-price-button">
                                <button data-fls-addtocart-button data-id="3" data-title="Намет Tramp" data-price="2450"
                                    data-image="@img/card3.webp" class="heets__card-btn btn--green">
                                    <span class="--icon-cart"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div data-fls-addtocart-product class="heets__card swiper-slide">
                        <div class="heets__card-image">
                            <div class="heets__card-label heets__card-label--green">новинка</div>
                            <div class="heets__card-img __img"><img data-cart-image src="@img/card4.webp" alt="Image">
                            </div>
                        </div>
                        <div class="heets__card-title">Рюкзак Deuter</div>
                        <div class="heets__card-caption">futura24</div>
                        <div class="heets__card-raiting">
                            <div class="heets__card-stars">
                                <span class="--icon-star"></span>
                                <span class="--icon-star"></span>
                                <span class="--icon-star"></span>
                                <span class="--icon-star"></span>
                                <span class="--icon-star"></span>
                            </div>
                            <div class="heets__card-stars-value"><span>4.8</span><span>(73)</span></div>
                        </div>
                        <div class="heets__card-price">
                            <div class="heets__card-price-title"><span data-fls-digcounter>2250</span><span>грн.</span>
                            </div>
                            <div class="heets__card-price-button">
                                <button data-fls-addtocart-button data-id="4" data-title="Рюкзак Deuter"
                                    data-price="2250" data-image="@img/card3.webp" class="heets__card-btn btn--green">
                                    <span class="--icon-cart"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div data-fls-addtocart-product class="heets__card swiper-slide">
                        <div class="heets__card-image">
                            <div class="heets__card-label heets__card-label--yellow">хіт</div>
                            <div class="heets__card-img __img"><img data-cart-image src="@img/card5.webp" alt="Image">
                            </div>
                        </div>
                        <div class="heets__card-title">Воблер ZipBaits</div>
                        <div class="heets__card-caption">Rigge S6f</div>
                        <div class="heets__card-raiting">
                            <div class="heets__card-stars">
                                <span class="--icon-star"></span>
                                <span class="--icon-star"></span>
                                <span class="--icon-star"></span>
                                <span class="--icon-star"></span>
                                <span class="--icon-star"></span>
                            </div>
                            <div class="heets__card-stars-value"><span>4.6</span><span>(33)</span></div>
                        </div>
                        <div class="heets__card-price">
                            <div class="heets__card-price-title"><span data-fls-digcounter>320</span><span>грн.</span>
                            </div>
                            <div class="heets__card-price-button">
                                <button data-fls-addtocart-button data-id="5" data-title="Воблер Zipbaits"
                                    data-price="320" data-image="@img/card5.webp" class="heets__card-btn btn--green">
                                    <span class="--icon-cart"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div data-fls-addtocart-product class="heets__card swiper-slide">
                        <div class="heets__card-image">
                            <div class="heets__card-label heets__card-label--green">новинка</div>
                            <div class="heets__card-img __img"><img data-cart-image src="@img/card6.webp" alt="Image">
                            </div>
                        </div>
                        <div class="heets__card-title">Ліхтар Налобний</div>
                        <div class="heets__card-caption">Fenix HMSQR</div>
                        <div class="heets__card-raiting">
                            <div class="heets__card-stars">
                                <span class="--icon-star"></span>
                                <span class="--icon-star"></span>
                                <span class="--icon-star"></span>
                                <span class="--icon-star"></span>
                                <span class="--icon-star"></span>
                            </div>
                            <div class="heets__card-stars-value"><span>4.9</span><span>(61)</span></div>
                        </div>
                        <div class="heets__card-price">
                            <div class="heets__card-price-title"><span data-fls-digcounter>1650</span><span>грн.</span>
                            </div>
                            <div class="heets__card-price-button">
                                <button data-fls-addtocart-button data-id="6" data-title="Ліхтар Fenix"
                                    data-price="1650" data-image="@img/card6.webp" class="heets__card-btn btn--green">
                                    <span class="--icon-cart"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="heets__slider-arrow heets__slider-arrow-prev"><span class="--icon-prev"></span></div>
                <div class="heets__slider-arrow heets__slider-arrow-next"><span class="--icon-next"></span></div>
                <div class="heets__slider-pagination"></div>
            </div>
        </div>
    </section>
    <section class="choose">
        <div class="choose__container">
            <h2 class="category__title choose__title">Чому клієнти обирають нас</h2>
            <div class="choose__items">
                <div class="choose__item">
                    <div class="choose__item-icon"><span class="--icon-prize"></span></div>
                    <div class="choose__item-title">Більще 10 років досвіду</div>
                </div>
                <div class="choose__item">
                    <div class="choose__item-icon"><span class="--icon-shoe"></span></div>
                    <div class="choose__item-title">Тільки перевірені товари</div>
                </div>
                <div class="choose__item">
                    <div class="choose__item-icon"><span class="--icon-best-price"></span></div>
                    <div class="choose__item-title">Вигідні ціни та акції</div>
                </div>
                <div class="choose__item">
                    <div class="choose__item-icon"><span class="--icon-best-change"></span></div>
                    <div class="choose__item-title">Повернення без проблем</div>
                </div>
                <div class="choose__item">
                    <div class="choose__item-icon"><span class="--icon-consultation"></span></div>
                    <div class="choose__item-title">Підтримка 24/7</div>
                </div>
            </div>
        </div>
    </section>
    <section class="useful">
        <div class="useful__container">
            <div class="category__top">
                <h2 class="category__title useful__title">Корисне для вас</h2>
                <a href="#" class="category__top-link">
                    <span>Всі статті</span>
                    <span class="--icon-arrow"></span>
                </a>
            </div>
            <div class="useful__items">
                <div class="useful__item">
                    <div class="useful__item-image">
                        <div class="useful__item-label"><a href="" class="btn--green">поради</a></div>
                        <div class="useful__item-img __img"><img src="@img/use1.webp" alt="Image"></div>
                    </div>
                    <div class="useful__item-text">
                        <div class="useful__item-date">20.05.2026</div>
                        <div class="useful__item-title">Як вибрати спіннінг для початківця</div>
                        <div data-fls-showmore class="useful__item-more">
                            <div data-fls-showmore-content="0" class="useful__item-more">
                                <p>
                                    1. Довжина
                                    Для універсального спінінга підійде довжина 2,1–2,4 м. Він зручний для більшості
                                    умов
                                    риболовлі.
                                </p>
                                <p>
                                    2. Тест спінінга
                                    Початківцю краще вибрати універсальний тест, наприклад 5–25 г або близький до нього.
                                    Це
                                    дозволить використовувати різні приманки.
                                </p>
                                <p>
                                    3. Стрій
                                    Для початку хорошим вибором буде швидкий (Fast) або середньо-швидкий (Moderate Fast)
                                    стрій.
                                </p>

                                <p>
                                    4. Матеріал
                                    Краще звернути увагу на карбон або композит. Карбонові вудилища легші та чутливіші.
                                </p>

                                <p>
                                    5. Тип риболовлі
                                    Вибір також залежить від того, де ви плануєте ловити: на річці, озері чи з берега.
                                </p>

                                <p>
                                    Коротка порада: для першого спінінга варто обирати універсальну модель, яка підійде
                                    для
                                    різних умов і допоможе зрозуміти, який стиль риболовлі вам подобається найбільше.
                                </p>
                            </div>
                            <button hidden data-fls-showmore-button type="button" class="useful__item-more-btn">
                                <span class="--icon-arrow">
                                    Читати далі
                                </span>
                                <span>
                                    Сховати
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="useful__item">
                    <div class="useful__item-image">
                        <div class="useful__item-label"><a href="" class="btn--green">туризм</a></div>
                        <div class="useful__item-img __img"><img src="@img/use2.webp" alt="Image"></div>
                    </div>
                    <div class="useful__item-text">
                        <div class="useful__item-date">17.07.2026</div>
                        <div class="useful__item-title">5 речей які мають бути в кожному поході</div>
                        <div data-fls-showmore class="useful__item-more">
                            <div data-fls-showmore-content="0" class="useful__item-more">
                                <p>
                                    Рюкзак — зручний і відповідного об'єму.
                                </p>
                                <p>
                                    Аптечка — базові засоби першої допомоги.
                                </p>

                                <p>
                                    Вода та запас їжі — особливо якщо похід тривалий.
                                </p>

                                <p>
                                    Ліхтарик — бажано налобний, щоб руки залишалися вільними.
                                </p>

                                <p>
                                    Навігація — карта, компас або телефон із завантаженими офлайн-картами
                                </p>
                            </div>
                            <button hidden data-fls-showmore-button type="button" class="useful__item-more-btn">
                                <span class="--icon-arrow">
                                    Читати далі
                                </span>
                                <span>
                                    Сховати
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="useful__item">
                    <div class="useful__item-image">
                        <div class="useful__item-label"><a href="" class="btn--green">рибалка</a></div>
                        <div class="useful__item-img __img"><img src="@img/use3.webp" alt="Image"></div>
                    </div>
                    <div class="useful__item-text">
                        <div class="useful__item-date">30.08.2026</div>
                        <div class="useful__item-title">Календар рибалки на осінь 2026</div>
                        <div data-fls-showmore class="useful__item-more">
                            <div data-fls-showmore-content="0" class="useful__item-more">
                                <p>
                                    Вересень 2026 року вважається активним періодом осінньої риболовлі, особливо
                                    перспективними називають 13–18 та 28–29 вересня, але календар варто використовувати
                                    лише як орієнтир — погода й конкретна водойма часто важливіші.
                                </p>

                            </div>
                            <button hidden data-fls-showmore-button type="button" class="useful__item-more-btn">
                                <span class="--icon-arrow">
                                    Читати далі
                                </span>
                                <span>
                                    Сховати
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="insta">
        <div class="insta__container">
            <div class="insta__top">
                <h2 class="insta__top-title">
                    <span>Наші пригоди в інстаграм</span>
                    <a href="#">fishandtrip__ua</a>
                </h2>
                <a href="#" class="category__top-link">
                    <span>Дивитися всі фото</span>
                    <span class="--icon-arrow"></span>
                </a>
            </div>
            <div class="insta__images">
                <div class="insta__img"><img src="@img/insta1.webp" alt="Image" loading="lazy"></div>
                <div class="insta__img"><img src="@img/insta2.webp" alt="Image" loading="lazy"></div>
                <div class="insta__img"><img src="@img/insta3.webp" alt="Image" loading="lazy"></div>
                <div class="insta__img"><img src="@img/insta4.webp" alt="Image" loading="lazy"></div>
                <div class="insta__img"><img src="@img/insta5.webp" alt="Image" loading="lazy"></div>
                <div class="insta__img"><img src="@img/insta6.webp" alt="Image" loading="lazy"></div>
            </div>
        </div>
    </section>
    <section class="say">
        <div class="say__container">
            <h2 class="say__title">
                Що кажуть наші клієнти
            </h2>
            <div class="say__slider">
                <div data-fls-slider class="say__cards swiper">
                    <div class="say__wrapper swiper-wrapper">
                        <div class="say__card swiper-slide">
                            <div class="say__card-img __img"><img src="@img/man1.webp" alt="Image"></div>
                            <div class="say__card-text">
                                <div class="say__card-top">
                                    <div class="say__card-title">Ігор, Київ</div>
                                    <div class="say__card-raiting">
                                        <span class="--icon-star"></span>
                                        <span class="--icon-star"></span>
                                        <span class="--icon-star"></span>
                                        <span class="--icon-star"></span>
                                        <span class="--icon-star"></span>
                                    </div>
                                </div>
                                <div data-fls-showmore class="say__card-caption">
                                    <div data-fls-showmore-content="40" class="say__card-caption-body">
                                        <p>
                                            Замовляв спінінг та кілька приманок для осінньої риболовлі. Дуже сподобалося
                                            обслуговування — швидко проконсультували, допомогли підібрати потрібні
                                            товари та
                                            оперативно відправили замовлення. Все прийшло добре запаковане й повністю
                                            відповідає опису. Обов’язково звертатимусь ще!
                                        </p>
                                    </div>
                                    <button hidden data-fls-showmore-button type="button"
                                        class="say__card-caption-btn"><span>читати
                                            далі</span><span>cховати</span></button>
                                </div>
                            </div>
                        </div>
                        <div class="say__card swiper-slide">
                            <div class="say__card-img __img"><img src="@img/man2.webp" alt="Image"></div>
                            <div class="say__card-text">
                                <div class="say__card-top">
                                    <div class="say__card-title">Олександр, Львів</div>
                                    <div class="say__card-raiting">
                                        <span class="--icon-star"></span>
                                        <span class="--icon-star"></span>
                                        <span class="--icon-star"></span>
                                        <span class="--icon-star"></span>
                                        <span class="--icon-star"></span>
                                    </div>
                                </div>
                                <div data-fls-showmore class="say__card-caption">
                                    <div data-fls-showmore-content="40" class="say__card-caption-body">
                                        <p>
                                            Замовляв у магазині спінінг, котушку та кілька приманок для осінньої
                                            риболовлі.
                                            Окремо сподобалося, що менеджер не просто запропонував найдорожчий варіант,
                                            а
                                            допоміг підібрати спорядження під мій бюджет і умови риболовлі. Замовлення
                                            швидко відправили, все було добре запаковано. Залишився задоволений, буду
                                            замовляти ще.
                                        </p>
                                    </div>
                                    <button hidden data-fls-showmore-button type="button"
                                        class="say__card-caption-btn"><span>читати
                                            далі</span><span>cховати</span></button>
                                </div>
                            </div>
                        </div>
                        <div class="say__card swiper-slide">
                            <div class="say__card-img __img"><img src="@img/man3.webp" alt="Image"></div>
                            <div class="say__card-text">
                                <div class="say__card-top">
                                    <div class="say__card-title">Максим, Рівне</div>
                                    <div class="say__card-raiting">
                                        <span class="--icon-star"></span>
                                        <span class="--icon-star"></span>
                                        <span class="--icon-star"></span>
                                        <span class="--icon-star"></span>
                                        <span class="--icon-star"></span>
                                    </div>
                                </div>
                                <div data-fls-showmore class="say__card-caption">
                                    <div data-fls-showmore-content="40" class="say__card-caption-body">
                                        <p>
                                            Готувався до походу в Карпати й замовляв тут туристичний рюкзак, пальник та
                                            кілька дрібниць для спорядження. На сайті легко знайшов потрібні товари, а
                                            перед
                                            покупкою отримав хорошу консультацію. Все приїхало вчасно та без пошкоджень.
                                            Приємно мати справу з магазином, де дійсно розуміються на туризмі.
                                        </p>
                                    </div>
                                    <button hidden data-fls-showmore-button type="button"
                                        class="say__card-caption-btn"><span>читати
                                            далі</span><span>cховати</span></button>
                                </div>
                            </div>
                        </div>
                        <div class="say__card swiper-slide">
                            <div class="say__card-img __img"></div>
                            <div class="say__card-text">
                                <div class="say__card-top">
                                    <div class="say__card-title">Ірина, Полтава</div>
                                    <div class="say__card-raiting">
                                        <span class="--icon-star"></span>
                                        <span class="--icon-star"></span>
                                        <span class="--icon-star"></span>
                                        <span class="--icon-star"></span>
                                        <span class="--icon-star"></span>
                                    </div>
                                </div>
                                <div data-fls-showmore class="say__card-caption">
                                    <div data-fls-showmore-content="40" class="say__card-caption-body">
                                        <p>
                                            Купувала подарунок для чоловіка, який захоплюється риболовлею. Зовсім не
                                            розбиралася у спорядженні, тому звернулася за допомогою до менеджера. Мені
                                            доступно пояснили, що краще вибрати, і допомогли зібрати хороший комплект.
                                            Чоловік залишився дуже задоволений подарунком. Дякую за уважне ставлення!
                                        </p>
                                    </div>
                                    <button hidden data-fls-showmore-button type="button"
                                        class="say__card-caption-btn"><span>читати
                                            далі</span><span>cховати</span></button>
                                </div>
                            </div>
                        </div>
                        <div class="say__card swiper-slide">
                            <div class="say__card-img __img"><img src="@img/man5.webp" alt="Image"></div>
                            <div class="say__card-text">
                                <div class="say__card-top">
                                    <div class="say__card-title">Максим, Житомир</div>
                                    <div class="say__card-raiting">
                                        <span class="--icon-star"></span>
                                        <span class="--icon-star"></span>
                                        <span class="--icon-star"></span>
                                        <span class="--icon-star"></span>
                                        <span class="--icon-star"></span>
                                    </div>
                                </div>
                                <div data-fls-showmore class="say__card-caption">
                                    <div data-fls-showmore-content="40" class="say__card-caption-body">
                                        <p>
                                            Не перший раз замовляю тут товари для риболовлі та виїздів на природу.
                                            Подобається хороший вибір — від приманок і снастей до туристичного
                                            спорядження.
                                            Замовлення завжди приходять вчасно, упаковка надійна, а ціни цілком
                                            адекватні.
                                            Хороший магазин для тих, хто любить проводити час на природі.
                                        </p>
                                    </div>
                                    <button hidden data-fls-showmore-button type="button"
                                        class="say__card-caption-btn"><span>читати
                                            далі</span><span>cховати</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="heets__slider-arrow heets__slider-arrow-prev say__prev"><span class="--icon-prev"></span>
                </div>
                <div class="heets__slider-arrow heets__slider-arrow-next say__next"><span class="--icon-next"></span>
                </div>
                <div class="say__slider-pagination"></div>
            </div>
        </div>
    </section>
    <section class="ready">
        <div class="ready__bg __img"><img src="@img/bg-reka1.jpg" alt="Image"></div>
        <div class="ready__container">
            <div class="ready__text">
                <h2 class="ready__title">
                    Готовий до нових вражень?
                </h2>
                <h3 class="ready__subtitle">
                    Ми маємо все що тобі потрібно!
                </h3>
                <div class="ready__buttons">
                    <a href="#" class="ready__link btn--green">Перейти в каталог</a>
                </div>
            </div>
            <div class="ready__items">
                <div class="ready__item">
                    <div class="ready__item-ico"><span class="--icon-fishing"></span></div>
                    <div class="ready__item-title">Великий асортимент</div>
                </div>
                <div class="ready__item">
                    <div class="ready__item-ico"><span class="--icon-prize"></span></div>
                    <div class="ready__item-title">Якісні бренди</div>
                </div>
                <div class="ready__item">
                    <div class="ready__item-ico"><span class="--icon-truck"></span></div>
                    <div class="ready__item-title">Доставка 1-2 дні</div>
                </div>
            </div>
        </div>
    </section>
</main>