<footer id="contacts" class="footer" data-fls-footer>
    <div class="footer__container">
        <div class="footer__items">
            <div class="footer__text">
                <div class="footer__text-title">Підпишіться на новини та акції</div>
                <div class="footer__text-caption">Отримуйте знижки першими!</div>
                <form action="#" class="footer__text-form">
                    <input type="text" placeholder="Ваш e-mail" class="footer__text-input">
                    <button class="footer__text-button">підписатися</button>
                </form>
                <div class="footer__text-icons">
                    <a href="#" class="footer__text-ico --icon-facebook"></a>
                    <a href="#" class="footer__text-ico --icon-insta"></a>
                    <a href="#" class="footer__text-ico --icon-youtube"></a>
                    <a href="#" class="footer__text-ico --icon-telegram"></a>
                </div>
            </div>
            <div data-fls-spollers="890,max" class="footer__navigation">
                <details class="footer__navigation-item">
                    <summary class="footer__navigation-title">Каталог</summary>
                    <ul class="footer__navigation-list">
                        <li><a href="#" class="footer__navigation-link">Риболовля</a></li>
                        <li><a href="#" class="footer__navigation-link">Туризм</a></li>
                        <li><a href="#" class="footer__navigation-link">Одяг та взуття</a></li>
                        <li><a href="#" class="footer__navigation-link">Аксесуари</a></li>
                        <li><a href="#" class="footer__navigation-link">Акції</a></li>
                    </ul>
                </details>
                <details class="footer__navigation-item">
                    <summary class="footer__navigation-title">Покупцям</summary>
                    <ul class="footer__navigation-list">
                        <li><a href="#" class="footer__navigation-link">Доставка і оплата</a></li>
                        <li><a href="#" class="footer__navigation-link">Гарантії та повернення</a></li>
                        <li><a href="#" class="footer__navigation-link">обмін та повернення</a></li>
                        <li><a href="#" class="footer__navigation-link">Питання і відповіді</a></li>
                    </ul>
                </details>
                <details class="footer__navigation-item">
                    <summary class="footer__navigation-title">Контакти</summary>
                    <ul class="footer__navigation-list">
                        <li><a href="tel:+390671234567" class="footer__navigation-link"><span
                                    class="--icon-phone"></span><span> +38 (093) 876 54 32</span></a></li>
                        <li><a href="#" class="footer__navigation-link">Щодня з 8:00 до 20:00</a></li>
                        <li><a href="#" class="footer__navigation-link">М. Київ</a></li>
                    </ul>
                </details>
            </div>
        </div>
        <div class="footer__copyright"><span>2026 Fish & Trip</span><span class="--icon-fish"></span><span>in
                Kiev.
                Всі права захищено
                2026</span></div>
    </div>
</footer>